.venv
venv/
.venv/
# Virtual environment
.venv/
venv/
.venv1/
venv1/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Uploads (since your log showed these files too)
uploads/